{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<span id="back">
  {% if page.backref %}
    {% assign backref = page.backref %}
  {% elsif layout.backref %}
    {% assign backref = layout.backref %}
  {% endif %}
  {% if backref %}
    {% assign backpage = backref | refer %}
    {% if backpage %}
      {{ backpage | refer_link: nil, "<< " }}
    {% else %}
      {% capture error_msg -%}
        invalid ref ({{ backref }}) for lang ({{ page.lang }})
      {%- endcapture %}
      {{ error_msg | raise_error }}
    {% endif %}
  {% endif %}
</span>
