{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<span id="back">
  {% assign backref = nil %}
  {% if page.backref %}
    {% assign backref = page.backref %}
  {% elsif layout.backref %}
    {% assign backref = layout.backref %}
  {% endif %}
  {% if backref %}
    {% assign backpage_lang = page.backref_lang %}
    {% if page.backref_lang %}
      {% assign backpage = backref | refer: true, "lang", backpage_lang %}
    {% else %}
      {% assign backpage = backref | refer: true %}
    {% endif %}
    {% if backpage %}
      {{ backpage | refer_link: nil, "<< " }}
    {% else %}
      {% capture error_msg -%}
        invalid ref ({{ backref }}) for lang ({{ page.lang }})
      {%- endcapture %}
      {{ error_msg | raise_error }}
    {% endif %}
  {% endif %}
</span>
