{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<div id="lang_selector">
  {% for lang_data in site.data.languages %}
    {% if lang_data.key == page.lang %}
      {% assign current = "true" %}
    {% else %}
      {% assign current = "false" %}
    {% endif %}
    {% if page.ref %}
      {% assign url = page.ref | refer: true, "lang", lang_data.key | refer_url %}
      {% unless url %}
        {% assign url = "index" | refer: false, "lang", lang_data.key | refer_url %}
        {% assign refer_default = true %}
      {% endunless %}
    {% elsif lang_data.key == page.lang %}
      {% assign url = page.url %}
    {% else %}
      {% assign url = "index" | refer: false, "lang", lang_data.key | refer_url %}
      {% assign refer_default = true %}
    {% endif %}
    {% if refer_default %}
      {% comment %}
      {% capture msg_cap -%}
        Redirected to the top page! No {{ lang_data.names.en }} page found for {{ page.url }}
      {%- endcapture %}
      {% assign msg = msg_cap | url_encode %}
      {% endcomment %}
      {% capture redirect_from_cap -%}
        {{ page.url }}
      {%- endcapture %}
      {% assign redirect_from = redirect_from_cap | url_encode %}
      {% assign params = "?redirect_from=" | append: redirect_from %}
    {% else %}
      {% assign params = "" %}
    {% endif %}
    <span class="lang {{ lang_data.key }}" current="{{ current }}">
      <a href="{{ site.baseurl }}{{ url }}{{ params }}"
         class="{{ lang_data.key }}"
         current="{{ current }}">
        {{ lang_data.names.short }}
      </a>
    </span>
  {% endfor %}
</div>
