{% comment %}
-*- engine: liquid -*-
{% endcomment %}

{%- if include.type == "post" %}
  {%- assign pages = site.posts %}
{%- else %}
  {%- assign pages = site.pages %}
{%- endif %}
{%- assign pages_filtered = pages | where: "ref", include.ref | where: "lang", page.lang %}
{%- assign page_found = false %}
{%- for pg in pages_filtered %}
  {%- assign page_found = true %}
  <a href="{{ site.baseurl }}{{ pg.url }}">
    {%- if include.text %}
      {{ include.text }}
    {%- elsif pg.title %}
      {{ include.prefix }}{{ pg.title }}
    {%- else %}
      {{ pg.url }}
    {%- endif %}
  </a>
{%- endfor %}
{%- unless page_found %}
  {% capture msg %}
    page not found: ref={{ include.ref }}, lang={{ page.lang }}
  {% endcapture %}
  {%- include error.html msg=msg %}
{%- endunless %}
