{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shun Wakatsuki, 若月駿">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/css/mystyle.css"
          type="text/css"></link>
    {% if page.syntax-highlighting %}
      <link rel="stylesheet"
            href="{{ site.baseurl }}/assets/css/syntax-highlighting.css"
            type="text/css"></link>
      <!-- <script src="{{ site.baseurl }}/assets/js/named-codeblock.js"></script> -->
    {% endif %}
    <!-- <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css"></link>
         <script type="text/javascript"
         src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
         </script> -->
  </head>
  <body class="{{ page.lang }}">
    <header>
      <div id="myname">
        {% if page.lang == "ja" %}
          若月 駿
        {% else %}
          Shun Wakatsuki
        {% endif %}
      </div>

      <!-- menu -->
      <nav id="menu">
        <input id="menu-input" type="checkbox" class="menu-unshown"/>
        <label id="menu-open" for="menu-input"><span></span></label>
        <label id="menu-close" class="menu-unshown" for="menu-input"></label>
        <div id="menu-content">
          <!-- language selector -->
          <div id="lang_selector">
            {% for lang_data in site.data.languages %}
              {% if lang_data.key == page.lang %}
                {% assign current = "true" %}
              {% else %}
                {% assign current = "false" %}
              {% endif %}
              {% if page.ref %}
                {% assign url = page.ref | refer: "top", "lang", lang_data.key | refer_url %}
              {% elsif lang_data.key == page.lang %}
                {% assign url = page.url %}
              {% else %}
                {% assign url = "invalid-ref" | refer: "top", "lang", lang_data.key | refer_url %}
              {% endif %}
              <span class="lang {{ lang_data.key }}" current="{{ current }}">
                <a href="{{ site.baseurl }}{{ url }}" class="{{ lang_data.key }}" current="{{ current }}">
                  {{ lang_data.names.short }}
                </a>
              </span>
            {% endfor %}
            {% comment %}
            {% assign pages=site.pages | where: "ref", page.ref | sort: "lang" %}
            {% for pg in pages %}
            {% if pg.lang == page.lang %}
            {% assign current = "true" %}
            {% else %}
            {% assign current = "false" %}
            {% endif %}
            <a href="{{ pg.url }}" class="{{ pg.lang }}" current="{{ current }}">
            {{ pg.lang }}
            </a>
            {% endfor %}
            {% endcomment %}
          </div>
          <!-- main menu -->
          <div id="main-menu">
            {% assign pages=site.pages | where:"lang", page.lang %}
            {% for ref in site.data.pages %}
              {% for pg in pages %}
                {% if pg.ref == ref %}

                  {% if pg.title_short %}
                    {% assign title = pg.title_short %}
                  {% else %}
                    {% assign title = pg.title %}
                  {% endif %}

                  {% if pg.ref == page.ref %}
                    {% assign current = "true" %}
                  {% else %}
                    {% assign current = "false" %}
                  {% endif %}
                  <div class="menu_item" current="{{ current }}">
                    <a href="{{ site.baseurl }}{{ pg.url }}"> {{ title }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      </nav>

      <div id="info">
        <span id="back">
          {% if page.backref %}
            {% assign backref = page.backref %}
          {% elsif layout.backref %}
            {% assign backref = layout.backref %}
          {% endif %}
          {% if backref %}
            {{ backref | refer: "top" | refer_link: nil, "<< " }}
          {% endif %}
        </span>
        <span id="last-modified">
          Updated on
          {{ site.time | date: "%Y-%m-%d %H:%M" }}
          {% comment %}
          {{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}
          インポート先を見に行ってくれないのでやめた．
          とりあえず代わりに site.time を使ってサイト全体の変更日時を見る．
          {% endcomment %}
        </span>
      </div>
    </header>

    <div id="base_container">
      {{ content }}
    </div>

    <!-- FC2カウンター ここから -->
    <!-- 改行しちゃ駄目らしい -->
    <div id="access_counter"
         {% unless page.access_counter %} class="access_counter_hidden" {% endunless %}>
      <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=36244360&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=36244360&main=1" /></noscript>
    </div>
    <!-- FC2カウンター ここまで -->
  </body>
</html>
