{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shun Wakatsuki, 若月駿">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/css/dynamic.css"
          type="text/css"></link>
    <!-- <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css"></link>
         <script type="text/javascript"
         src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
         </script> -->
    {% if page.math %}
      <script src="{{ site.baseurl }}/assets/js/zotica.js"></script>
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/zotica.css"/>
    {% endif %}
    <script type="text/javascript">
     var params = new Object;
     location.search.substring(1).split("&").forEach((str) => {
       var key_value = str.split("=");
       params[key_value[0]] = key_value[1];
     })
     document.addEventListener("DOMContentLoaded", () => {
       /* if ("msg" in params) {
        *   let elm = document.querySelector("#message");
        *   elm.textContent = decodeURIComponent(params["msg"].replace(/\+/g, "%20"));
        * } */
       // div#message に redirect メッセージを表示する
       if ("redirect_from" in params) {
         let elm = document.querySelector("#message");
         lang = "{%- include get-lang-name.html lang=page.lang as="en" -%}";
         redirect_from = decodeURIComponent(params.redirect_from.replace(/\+/g, "%20"));
         msg = `Redirected to the top page! No ${lang} page found for ${redirect_from}`;
         elm.textContent = msg;
       }
       // アクセスカウンタを表示する
       if (localStorage.getItem("show-counter") === "true"){
         const counter = document.getElementById("access_counter");
         counter.classList.remove("access_counter_hidden");
       }
     })
    </script>
  </head>
  <body class="{{ page.lang }}">

    <script type="text/javascript">
     {% include dynamic-css.js %}
     load_theme();
    </script>

    <header class="page-header">
      <div id="myname">
        {% if page.lang == "ja" %}
          若月 駿
        {% else %}
          Shun Wakatsuki
        {% endif %}
      </div>

      <!-- menu -->
      <nav id="menu">
        <input id="menu-input" type="checkbox" class="menu-unshown"/>
        <label id="menu-open" for="menu-input"><span></span></label>
        <label id="menu-close" class="menu-unshown" for="menu-input"></label>
        <div id="menu-content">
          <!-- language selector -->
          {% include lang_selector.html %}
          <!-- main menu -->
          <div id="main-menu">
            {% if page.lang %}
              {% assign pages=site.pages | where:"lang", page.lang %}
              {% for ref in site.data.pages %}
                {% assign pg = ref | refer: true %}
                {% if pg %}
                  {% if pg.title_short %}
                    {% assign title = pg.title_short %}
                  {% else %}
                    {% assign title = pg.title %}
                  {% endif %}

                  {% if pg.ref == page.ref %}
                    {% assign current = "true" %}
                  {% else %}
                    {% assign current = "false" %}
                  {% endif %}
                  <div class="menu_item" current="{{ current }}">
                    <a href="{{ site.baseurl }}{{ pg.url }}"> {{ title }}</a>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </nav>

      <div id="info">
        {% include backref.html %}
        <span id="last-modified">
          This site was last updated on
          {{ site.time | date: "%Y-%m-%d" -}}.
          {% comment %}
          {{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}
          インポート先を見に行ってくれないのでやめた．
          とりあえず代わりに site.time を使ってサイト全体の変更日時を見る．
          {% endcomment %}
        </span>
      </div>
      <div id="message">
      </div>
    </header>

    <div id="base_container">
      {{ content }}
    </div>

    <!-- FC2カウンター ここから -->
    <!-- 改行しちゃ駄目らしい -->
    <div id="access_counter"
         {% unless page.access_counter %} class="access_counter_hidden" {% endunless %}>
      <script language="javascript" type="text/javascript" src="//counter1.fc2.com/counter.php?id=36244360&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=36244360&main=1" /></noscript>
    </div>
    <!-- FC2カウンター ここまで -->
  </body>
</html>
