---
magiccomment: "-*- engine: liquid -*-"
layout: baselayout
backref: blog
---

{% comment %}
-*- engine: liquid -*-
{% endcomment %}

<header class="blog-header">
  <div class="post-info">
    <div class="post-date">
      {% include date.html date=page.date %}
    </div>
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    </div>
  <h1>{{ page.title }}</h1>
</header>

<div class="blog_main">
  {% if page.toc %}
    <div id="table-of-contents">
      {% toc %}
    </div>
  {% endif %}

  <div id="markdown-content">
    {{ content }}
  </div>
</div>

<div id="blog_footer">
  {% if page.next %}
    <a href="{{ site.baseurl }}{{ page.next.url }}">
      < {{ page.next.title }} (new)
    </a>
  {% else %}
    <span></span>  <!-- for flexbox -->
  {% endif %}
  {% if page.previous %}
    <a href="{{ site.baseurl }}{{ page.previous.url }}">
      (old) {{ page.previous.title }} >
    </a>
  {% else %}
    <span></span>  <!-- for flexbox -->
  {% endif %}
</div>
