---
magiccomment: "-*- engine: liquid -*-"
backref: others
lang: ja
title: 単独のページ
ref: single-page
---

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shun Wakatsuki, 若月駿">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="robots" content="noindex"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet"
          href="{{ site.baseurl }}/assets/css/mystyle.css"
          type="text/css"></link>
    <script type="text/javascript">
     function load_css(style_id, dark_mode){
       let link = document.createElement("link");
       if (dark_mode){
         dark_mode_str = "-dark";
       } else {
         dark_mode_str = "";
       }
       link.href = `{{ site.baseurl }}/assets/css/style${style_id}${dark_mode_str}.css`;
       link.type = "text/css";
       link.rel = "stylesheet";
       document.getElementsByTagName("head")[0].appendChild(link);
     }
     function random_css(){
       const style_total = {{ site.num_styles }};
       var style_id = Math.floor(Math.random() * style_total);
       dark_mode = document.myform["dark-mode"].checked;
       load_css(style_id, dark_mode);
       let elm = document.querySelector("#style-info");
       elm.textContent = `(${style_id} of 0...${style_total-1})`;
     }
     document.addEventListener("DOMContentLoaded", random_css);
    </script>
    <style>
     form input{
       margin-left: 20px;
     }
    </style>
  </head>
  <body class="{{ page.lang }}">
    <header>
      <div id="myname">
        {% if page.lang == "ja" %}
          若月 駿
        {% else %}
          Shun Wakatsuki
        {% endif %}
      </div>

      <!-- language selector -->
      {% include lang_selector.html %}

      <div id="info">
        <span id="back">
          {% if page.backref %}
            {% assign backref = page.backref %}
          {% elsif layout.backref %}
            {% assign backref = layout.backref %}
          {% endif %}
          {% if backref %}
            {{ backref | refer | refer_link: nil, "<< " }}
          {% endif %}
        </span>
        <span id="last-modified">
          Updated on
          {{ site.time | date: "%Y-%m-%d %H:%M" }}
          {% comment %}
          {{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}
          インポート先を見に行ってくれないのでやめた．
          とりあえず代わりに site.time を使ってサイト全体の変更日時を見る．
          {% endcomment %}
        </span>
      </div>
    </header>

    <div id="base_container">
      <div>
        1ページにまとめてみた．
        試しにやってみただけなので，レイアウトなどは全然調整してないです．
        javascript を使ってランダムにCSSを読み込んでいます．
        <span id="style-info"></span>
      </div>
      <form name="myform">
        <input type="button" value="random" onclick="random_css()"/>
        <input type="checkbox" name="dark-mode"/> dark mode
      </form>
      <table id="select-css">
        <tr>
          <td>light</td>
          <td>
            {% assign max_style_num = site.num_styles | minus: 1 %}
            {% for i in (0..max_style_num) %}
              <input type="radio"
                     name="select-css"
                     value="{{ i }}"
                     id="select-css-{{ i }}"
                     onchange="load_css({{ i }}, false)" />
              <label for="select-css-{{ i }}">{{ i }}</label>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <td>dark</td>
          <td>
            {% assign max_style_num = site.num_styles | minus: 1 %}
            {% for i in (0..max_style_num) %}
              <input type="radio"
                     name="select-css"
                     value="{{ i }}"
                     id="select-css-{{ i }}-dark"
                     onchange="load_css({{ i }}, true)" />
              <label for="select-css-{{ i }}-dark">{{ i }}</label>
            {% endfor %}
          </td>
        </tr>
      </table>
      {% for ref in site.data.pages %}
        <h1>{{ ref }}</h1>
        {% include_md {{ ref }} %}
      {% endfor %}
    </div>
  </body>
</html>
