---
---


$breakpoints: (
  "small": "screen and (max-width: 480px)",
  "middle": "screen and (max-width: 800px)",
  "large": "screen and (min-width: 801px)"
) !default;

@mixin mq($breakpoint: small){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}

@import "menu.scss";

header{
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

div#myname {
  font-size: 50px;
  @include mq(){
    font-size: 30px;
  }
  text-align: center;
  margin: 20px;
  body.ja &{
    letter-spacing: 30px;
  }
}



body {
  text-align: left;
  overflow-y: scroll;
}

h1 {
  // text-align: center;
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 3px solid gray;
  border-left: 15px solid gray;
  padding-bottom: 3px;
  margin-left: -15px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid gray;
  border-left: 10px solid gray;
}

a[target="_blank"]{
  // background-color: red;
  padding-right: 13px;
  background: url({{ site.baseurl }}/img/target_blank.png) right center/11px auto no-repeat;
  // &:after{
  //   content: "a";
  // }
  div#access_counter &{
    padding-right: 0px;
    background: none;
  }
}


div#base_container{
  // position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 10px;
  max-width: 800px;
  // height: 500px;
  /* border: 5px solid blue; */
}

div#info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  span{
    margin-top: 6px;
  }
  #last-modified{
    // text-align: right;
    color: hsl(0, 0%, 40%);
  }
}


table#cv{
  border-spacing: 10px 0px;
}

table#cv th{
  text-align: right;
}

table#cv td{
  text-align: left;
}

h3.list-header{
  // padding: 0px;
  margin: 0px;
  font-size: 12pt;
  font-weight: normal;
}

ul#current-position{
  margin: 0px;
}

ol.articles li{
  padding-bottom: 5px;
}

ol.talks li{
  padding-bottom: 5px;
}

.article-title{
  font-style: italic;
}

.error {
  background-color: red !important;
  color: white !important;
}

div#access_counter{
  text-align: center;
  &.access_counter_hidden{
    display: none;
  }
}
