header {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

body {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  padding-bottom: 3px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid #000;
  border-left: 10px solid #000;
}

table#menu {
  /* width: 90%; */
  font-size: 30px;
  border-spacing: 30px 10px;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  margin-left: auto;
  margin-right: auto;
}

table#menu td{
  text-align: center;
  width: 20%;
  background-color: #EEE;
  color: black;
  margin: 10px;
}

table#menu td a{
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

table#menu td[current="true"]{
  background-color: #CCC;
}

table#menu td[current="true"] a{
  color: red;
}

.warning {
  background-color: #f00;
  color: #fff;
}

div#list-of-pages{
  margin-top: 60px;
  border: 1px solid black;
  background-color: #eee;
}
