---
---
header{
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

div#myname {
  font-size: 50px;
  text-align: center;
  margin: 20px;
  body.ja &{
    letter-spacing: 30px;
  }
}



body {
  text-align: left;
  overflow-y: scroll;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  padding-bottom: 3px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid black;
  border-left: 10px solid black;
}

a[target="_blank"]{
  // background-color: red;
  padding-right: 13px;
  background: url({{ site.baseurl }}/img/target_blank.png) right center/11px auto no-repeat;
  // &:after{
  //   content: "a";
  // }
  div#access_counter &{
    padding-right: 0px;
    background: none;
  }
}


div#base_container{
  // position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 800px;
  // height: 500px;
  /* border: 5px solid blue; */
}

div#last-modified{
  text-align: right;
  margin-top: 6px;
  color: hsl(0, 0%, 40%);
}

$color-selected: white;
$background-color-selected: hsl(0, 0%, 40%);

$color-unselected: hsl(0, 0%, 40%);
$background-color-unselected: hsl(0, 0%, 92%);

$height-lang-selector: 25px;
div#lang_selector{
  text-align: right;
  margin-top: -$height-lang-selector;
  height: $height-lang-selector;
  span.lang {
    text-align: center;
    // border: 1px solid black;
    display: inline-block;
    width: 30px;
    background-color: $background-color-unselected;
    a{
      text-decoration: none;
      color: $color-unselected;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  span.lang[current="true"]{
    background-color: $background-color-selected;
    a {
      color: $color-selected;
    }
  }
}

$num-menu-item: 4;
$menu-space-percent: 20%;

#menu {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 480px){
    flex-direction: column;
  }
  width: 100%;
  border-spacing: 30px 10px;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  margin-left: auto;
  margin-right: auto;
  div.menu_item{
    text-align: center;
    width: (100% - $menu-space-percent) / $num-menu-item;
    margin: 10px;
    @media screen and (max-width: 480px){
      width: 100%;
      margin: 3px;
    }
    background-color: $background-color-unselected;
    a{
      text-decoration: none;
      font-size: 30px;
      color: $color-unselected;
      display: block;
      width: 100%;
      height: 100%;
    }
    &[current="true"]{
      background-color: $background-color-selected;
      a{
        color: $color-selected;
      }
    }
  }
}

table#cv{
    border-spacing: 10px 0px;
}

table#cv th{
    text-align: right;
}

table#cv td{
    text-align: left;
}

h3.list-header{
    // padding: 0px;
    margin: 0px;
    font-size: 12pt;
    font-weight: normal;
}

ul#current-position{
  margin: 0px;
}

ol.articles li{
  padding-bottom: 5px;
}

ol.talks li{
  padding-bottom: 5px;
}

.article-title{
  font-style: italic;
}

.error {
  background-color: red !important;
  color: white !important;
}

div#access_counter{
  text-align: center;
  &.access_counter_hidden{
    display: none;
  }
}

div#list-of-pages{
  margin-top: 60px;
  border: 1px solid black;
  background-color: hsl(0, 0%, 90%);
}
