body {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  padding-bottom: 3px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid #000;
  border-left: 10px solid #000;
}

.warning {
  background-color: #f00;
  color: #fff;
}
