---
---

header{
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

div#myname {
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

div#info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  span{
    margin-top: 6px;
  }
}

body {
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
    padding-bottom: 3px;
}

h2 {
    margin: 10px 30px 10px 0px;
    padding: 5px 5px 5px 10px;
    font-size: 25px;
    font-weight: normal;
    /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
    border-bottom: 2px solid #000;
    border-left: 10px solid #000;
}

svg.target-blank-icon{
  width: 13px;
  height: 13px;
  --icon-color: gray;
}

table#menu {
    width: 90%;
    font-size: 30px;
    border-spacing: 30px 10px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}

table#menu td{
    text-align: center;
    width: 20%;
    background-color: #EEE;
}

#menu td[show="true"]{
    background-color: #CCC;
}

#menu a {
    color: black;
    text-decoration: none;
}

#menu a[show="true"]{
    color: red;
}

div.area {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 500px;
    /* border: 5px solid blue; */
}

table#cv{
    border-spacing: 10px 0px;
}

table#cv th{
    text-align: right;
}

table#cv td{
    text-align: left;
}

h3.list-header{
    /* padding: 0px; */
    margin: 0px;
    font-size: 12pt;
}

ul.list-with-header{
    margin: 0px;
}


// language selector
// copied from new style
$height-lang-selector: 25px;

$color-selected: hsl(0, 0%, 100%);
$background-color-selected: hsl(0, 0%, 40%);
$color-unselected: hsl(0, 0%, 30%);
$background-color-unselected: hsl(0, 0%, 85%);

div#lang_selector{
  text-align: right;
  margin-top: -$height-lang-selector;
  height: $height-lang-selector;
  span.lang {
    text-align: center;
    // border: 1px solid black;
    display: inline-block;
    width: 30px;
    background-color: $background-color-unselected;
    a{
      text-decoration: none;
      color: $color-unselected;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  span.lang[current="true"]{
    background-color: $background-color-selected;
    a {
      color: $color-selected;
    }
  }
}
