---
---

$site-base-url: "{{ site.baseurl }}";
$base-color: hsl(120, 30%, 50%); // lightness は 50% で固定
$text-color: hsl(0, 0%, 50%);

@import "media.scss";
@import "palette.scss";
@import "menu.scss";
@import "accordion.scss";
@import "main.scss";
