// require media.scss, palette.scss

header{
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

div#myname {
  font-size: 50px;
  @include mq(){
    font-size: 30px;
  }
  text-align: center;
  margin: 20px;
  body.ja &{
    letter-spacing: 30px;
  }
}



body {
  color: $body-color;
  background-color: $body-background-color;
  text-align: left;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

div#table-of-contents{
  border: 1px solid $border-color;
  background-color: $body-highlighted-background-color;
}

div.footnotes{
  border-top: 1px solid $footnote-border-color;
  margin-top: 50px;
  font-size: small;
}

img{
  max-width: 100%;
}

h1 {
  // text-align: center;
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 3px solid $border-color;
  border-left: 15px solid $border-color;
  padding-bottom: 3px;
  margin-left: -15px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid $border-color;
  border-left: 10px solid $border-color;
}

a{
  color: $link-color;
  &:visited{
    color: $link-visited-color;
  }
}

a.arxiv[target="_blank"]{
  white-space: nowrap;
}
svg.target-blank-icon{
  width: 13px;
  height: 13px;
  --icon-color: #{$target-blank-icon-color};
}
// a[target="_blank"]{
//   // padding-right: 13px;
//   // background: url({{ site.baseurl }}/assets/img/target_blank.png) right center/11px auto no-repeat;
//   &::after{
//     content: "";
//     display: inline-block;
//     background-image: url($site-base-url + "/assets/img/target_blank.png");
//     background-size: contain;
//     vertical-align: middle;
//     width: 13px;
//     height: 13px;
//     div#access_counter &{
//       padding-right: 0px;
//       background: none;
//     }
//   }
//   &.arxiv{
//     white-space: nowrap;
//   }
// }


div#base_container{
  // position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 10px;
  max-width: 800px;
  // height: 500px;
  /* border: 5px solid blue; */
}

div#info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  span{
    margin-top: 6px;
  }
  #last-modified{
    // text-align: right;
    color: $unimportant-color;
  }
}

#list-of-posts{
  .post{
    margin-bottom: 10px;
    .date{
      color: $unimportant-color;
    }
    .link{
      padding-left: 10px;
    }
  }
}

div#blog_footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

table#cv{
  border-spacing: 10px 0px;
}

table#cv th{
  text-align: right;
}

table#cv td{
  text-align: left;
}

h3.list-header{
  // padding: 0px;
  margin: 0px;
  font-size: 12pt;
  font-weight: normal;
}

ul#current-position{
  margin: 0px;
}

ol.articles li{
  padding-bottom: 5px;
}

ol.talks li{
  padding-bottom: 5px;
}

.article-title{
  font-style: italic;
}

.error {
  background-color: red !important;
  color: white !important;
}

div#access_counter{
  text-align: center;
  &.access_counter_hidden{
    display: none;
  }
}

.articles-table, .talks-table{
  border-collapse: collapse;
  td, th{
    border: 1px solid $table-border-color;
  }
}

// single-page.html
.single-page{
  table#select-css{
    border-collapse: collapse;
    td, th{
      border: 1px solid $table-border-color;
    }
    td{
      position: relative;
      label{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  h1{
    margin-top: 50px;
  }
}
