// require media.scss, palette.scss

@import "research.scss";
@import "cv.scss";
@import "blog.scss";
@import "math.scss";

header{
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

div#myname {
  font-size: 50px;
  @include mq(){
    font-size: 30px;
  }
  text-align: center;
  margin: 20px;
  @at-root{
    body.ja &{
      letter-spacing: 30px;
      color: blue;
    }
  }
}

&.ja div#myname{
  letter-spacing: 30px;
}

& {
  color: $body-color;
  background-color: $body-background-color;
  text-align: left;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

div#table-of-contents{
  border: 1px solid $border-color;
  background-color: $body-highlighted-background-color;
}

div.footnotes{
  border-top: 1px solid $weak-border-color;
  margin-top: 50px;
  font-size: small;
}

img{
  max-width: 100%;
}

h1 {
  // text-align: center;
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 30px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 3px solid $border-color;
  border-left: 15px solid $border-color;
  padding-bottom: 3px;
  margin-left: -15px;
}

h2 {
  margin: 10px 30px 10px 0px;
  padding: 5px 5px 5px 10px;
  font-size: 25px;
  font-weight: normal;
  /* font-family: "Estrangelo Edessa"; "Trebuchet MS"; "Arial"; "Helvetica"; */
  border-bottom: 2px solid $border-color;
  border-left: 10px solid $border-color;
}

h3 {
  font-weight: normal;
  border-bottom: 1px solid $border-color;
  // border-left: 1px solid $border-color;
}

a{
  color: $link-color;
  &:visited{
    color: $link-visited-color;
  }
}

svg.target-blank-icon{
  width: 13px;
  height: 13px;
  --icon-color: #{$target-blank-icon-color};
}

div#base_container{
  // position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 10px;
  max-width: 800px;
  // height: 500px;
  /* border: 5px solid blue; */
}

div#info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  span{
    margin-top: 6px;
  }
  #last-modified{
    // text-align: right;
    color: $unimportant-color;
  }
}

.error {
  background-color: red !important;
  color: white !important;
}

div#access_counter{
  text-align: center;
  &.access_counter_hidden{
    display: none;
  }
}

table#select-css{
  border-collapse: collapse;
  td, th{
    border: 1px solid $table-border-color;
  }
  td{
    position: relative;
    label{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

table{
  border-collapse: collapse;
  td, th{
    border: 1px solid $table-border-color;
  }
}
