// $base-color, $text-color を予め定義しておくと，配色を変更できる

$base-color-default: hsl(0, 0%, 50%);   // 元々の配色(hueは何でも良い)
$text-color-default: hsl(0, 0%, 50%);
$base-color: if(variable-exists(base-color), $base-color, $base-color-default);
$text-color: if(variable-exists(text-color), $text-color, $text-color-default);

$body-color: darken($text-color, 50%);
$body-background-color: lighten($base-color, 45%);
$body-highlighted-background-color: lighten($base-color, 40%);

$color-selected: lighten($base-color, 50%);
$background-color-selected: darken($base-color, 10%);

$color-unselected: darken($base-color, 20%);
$background-color-unselected: lighten($base-color, 35%);

$border-color: $base-color;
$footnote-border-color: lighten($base-color, 20%);
$table-border-color: darken($text-color, 50%);

$hamburger-color: darken($base-color, 20%);
$hamburger-background-color: lighten($base-color, 48%);

$unimportant-color: lighten($text-color, 10%);


// (inline) code blocks
$codeblock-background: hsl(0, 0%, 90%);
$codeblock-filename-background: lighten($base-color, 35%);
